@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background-image-hero: url('/img/hero.jpg');
  --background-image-hockey-bg: url('/img/hockey-bg.jpg');
   
}

@theme {
    /*--background-image-hero: url('/images/hero.jpg');*/
     
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  /*background: var(--background);
  color: var(--foreground);*/
  font-family: Arial, Helvetica, sans-serif;
}

@utility container {
    width: 100%;
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  @utility flexCenter {
    display:flex;
    align-item:center;
    justify-content: center;
  }
  
  /* Для планшетов */
  @media (min-width: 768px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  /* Для ноутбуков и небольших десктопов */
  @media (min-width: 1024px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  /* Для больших экранов (десктоп) */
  @media (min-width: 1280px) {
    .container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }


  